{{message|json}}
<ng-container *ngIf="novenyek">

    <div class="row my-2 fw-bold">
        <div *ngFor="let oszlop of oszlopok" class="col">
            {{oszlop.text}}
        </div>
        <div class="col">
            {{message.actionHeader}}
        </div>
    </div>

    <div  class="row my-2 ">
        <div *ngFor="let oszlop of oszlopok" class="col">
           <ng-container [ngSwitch]="oszlop.type">
                <div *ngSwitchCase="'plain'">  {{ujNoveny[oszlop.key]}}</div>

                <div *ngSwitchCase="'textarea'" class="form-floating mb-3">
                    <textarea [(ngModel)]="ujNoveny[oszlop.key]" class="form-control"></textarea>
                </div>

                <div *ngSwitchDefault class="form-floating mb-3 ">
                    <input [(ngModel)]="ujNoveny[oszlop.key]" [type]="oszlop.type" class="form-control">
                </div>
            </ng-container>

        </div>
        <div class="col mt-3">
            <button (click)="addPlant()" type="button" class="btn btn-primary btn-sm">{{message.addBtn}}</button>
          
        </div>
    </div>

    <div *ngFor="let noveny of novenyek|search:keresendo" class="row my-2 ">
        <div *ngFor="let oszlop of oszlopok" class="col">
           <ng-container [ngSwitch]="oszlop.type">
                <div *ngSwitchCase="'plain'">  {{noveny[oszlop.key]}}</div>

                <div *ngSwitchCase="'textarea'" class="form-floating mb-3">
                    <textarea [(ngModel)]="noveny[oszlop.key]" class="form-control"></textarea>
                </div>

                <div *ngSwitchDefault class="form-floating mb-3 ">
                    <input [(ngModel)]="noveny[oszlop.key]" [type]="oszlop.type" class="form-control">
                </div>
            </ng-container>

        </div>
        <div class="col mt-3">
            <button (click)="updatePlant(noveny)" type="button" class="btn btn-primary btn-sm">{{message.editBtn}}</button>
            <button (click)="deletePlant(noveny)" type="button" class="btn btn-primary ms-3 btn-sm">{{message.delBtn}}</button>
        </div>
    </div>

</ng-container>
