<!-- {{novenyek|json}} -->

<div class="mb-3">
  <label for="name" class="form-label">Keresés(név):</label>
  <input [(ngModel)]="keresendo" type="text" class="form-control" id="name">
</div>


<div class="row g-3">
    <div *ngFor="let noveny of novenyek|search:keresendo" class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card h-100">
          <img [src]="noveny.kepUrl" class="card-img-top" [alt]="noveny.megnevezes">
          <div class="card-body">
            <h5 class="card-title"> {{noveny.megnevezes}} </h5>
            <p class="card-text">{{noveny.leiras}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
                <!-- {{ar(noveny.ar, db.value)}}  -->
              {{noveny.ar}} Ft</small>
            <div class="input-group my-3">
                <input #db type="number" class="form-control" value="1" min="1">
                <button (click)="kosarba(noveny.id,db.value)" class="btn btn-outline-secondary" type="button">
                    Megrendel
                </button>
              </div>
          </div>
        </div>
      </div>
</div>